In [1]:
print("Jay Ganesh")

Jay Ganesh

In [2]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing  import StandardScaler,LabelEncoder
import pickle

In [3]:
## Let's first load the dataset
data=pd.read_csv("D:\ProjectAarya\GEN AI\Code\Ch13\Churn_Modelling.csv")
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
## It is clearly understandable that rownumber really does not play any role at all so we will delete that row number

data.drop(['RowNumber'],inplace=True,axis='columns')

In [5]:

#Another thing is customerID surname also don't play any role at all so we will drop them too
data.drop(["CustomerId","Surname"],inplace=True,axis='columns')

In [6]:
## Let's first encode the categorical variables
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [7]:
import numpy as np
np.unique(data['Geography'])

array(['France', 'Germany', 'Spain'], dtype=object)

In [8]:
## Now we will work on 'Geography' column
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder()
geoencoded=ohe.fit_transform(data[['Geography']])
geoencoded

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [9]:
ohe.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [10]:
geoencodeddense=geoencoded.toarray()
# geoencodeddf=pd.DataFrame(geoencoded,columns=ohe.get_feature_names_out(['Geography']))
geoencoded.shape

(10000, 3)

In [11]:
geoencodeddf=pd.DataFrame(geoencodeddense,columns=ohe.get_feature_names_out())

In [12]:
geoencodeddf

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [13]:
data.drop(['Geography'],inplace=True,axis='columns')

In [14]:
data=pd.concat([data,geoencodeddf],axis='columns')

In [15]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [16]:
## Save the encoder and scaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('ohe.pkl','wb') as file:
    pickle.dump(ohe,file)

In [17]:
#Let's quickly divide the dataset into dependent and independent feature
X=data.drop('Exited',axis='columns')
y=data['Exited']

#Splitting the data in train test split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.14,random_state=6)

In [18]:
##Scalling the features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.fit_transform(X_test)

In [19]:
X_train

array([[-0.27883079,  0.91595029, -1.51964689, ...,  0.99918628,
        -0.58025976, -0.57381411],
       [ 0.27031788, -1.09176231, -0.469639  , ...,  0.99918628,
        -0.58025976, -0.57381411],
       [ 1.89704131,  0.91595029, -0.94691531, ..., -1.00081438,
         1.72336612, -0.57381411],
       ...,
       [-0.85906336, -1.09176231, -1.51964689, ...,  0.99918628,
        -0.58025976, -0.57381411],
       [ 0.28067918, -1.09176231, -1.2332811 , ..., -1.00081438,
         1.72336612, -0.57381411],
       [-0.04052099,  0.91595029,  1.05764519, ..., -1.00081438,
         1.72336612, -0.57381411]])

In [20]:
X_test

array([[ 0.38687927, -1.12235352, -1.03574685, ...,  0.98512138,
        -0.56938265, -0.57377871],
       [-1.59484817, -1.12235352,  1.33266951, ..., -1.01510334,
        -0.56938265,  1.74283217],
       [ 1.15698061,  0.89098487,  0.76424958, ..., -1.01510334,
        -0.56938265,  1.74283217],
       ...,
       [-0.61938648,  0.89098487, -0.37259027, ...,  0.98512138,
        -0.56938265, -0.57377871],
       [ 1.4444851 , -1.12235352, -0.27785361, ...,  0.98512138,
        -0.56938265, -0.57377871],
       [-0.18812973,  0.89098487,  3.51161256, ..., -1.01510334,
        -0.56938265,  1.74283217]])

In [21]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

### ANN Implementation

In [22]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [23]:
# ## Let's Build our Model
# model=Sequential([
#     Dense(32,activation='relu',input_shape=(X_train.shape[1],)),
#     Dense(16,activation='relu'),
#     Dense(1,activation='sigmoid')
# ])
# model.compile(
#     optimizer='adam',
#    loss='binary_crossentropy',
#     metrics=['accuracy']
# )

In [24]:
# Use TensorFlow's Keras explicitly
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential([
    Dense(32, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(16, activation='relu'),
    Dense(1, activation='sigmoid')
])

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
model.summary()

c:\Users\Jay\anaconda3\envs\ch13\lib\site-packages\keras\src\layers\core\dense.py:95: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 32)             │           416 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 16)             │           528 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            17 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 961 (3.75 KB)

 Trainable params: 961 (3.75 KB)

 Non-trainable params: 0 (0.00 B)

In [25]:
## setting up the tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
log_dir="logs/fit"+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callbacks=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [26]:
## Setting up early stopping
earlystop=EarlyStopping(monitor='val_accuracy',patience=9,restore_best_weights=True)

In [27]:
## Let's train the actual model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callbacks,earlystop]
)

Epoch 1/100
269/269 ━━━━━━━━━━━━━━━━━━━━ 6s 5ms/step - accuracy: 0.7845 - loss: 0.4799 - val_accuracy: 0.8173 - val_loss: 0.4351
Epoch 2/100
269/269 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8234 - loss: 0.4110 - val_accuracy: 0.8301 - val_loss: 0.4091
Epoch 3/100
269/269 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8393 - loss: 0.3864 - val_accuracy: 0.8458 - val_loss: 0.3866
Epoch 4/100
269/269 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8550 - loss: 0.3644 - val_accuracy: 0.8515 - val_loss: 0.3702
Epoch 5/100
269/269 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8578 - loss: 0.3514 - val_accuracy: 0.8558 - val_loss: 0.3612
Epoch 6/100
269/269 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8589 - loss: 0.3447 - val_accuracy: 0.8630 - val_loss: 0.3561
Epoch 7/100
269/269 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8609 - loss: 0.3408 - val_accuracy: 0.8558 - val_loss: 0.3541
Epoch 8/100
269/269 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8608 - loss: 0.3379 - val_accuracy: 0.8630 - val_loss: 0.3512
Epoch 9/100
269/269 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8618 - loss: 0.3359 - val_accuracy: 0.8608 - val_loss: 0.3506
Epoch 10/100
269/269 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8635 - loss: 0.3343 - val_accuracy: 0.8580 - val_loss: 0.3530
Epoch 11/100
269/269 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8644 - loss: 0.3324 - val_accuracy: 0.8565 - val_loss: 0.3507
Epoch 12/100
269/269 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8641 - loss: 0.3312 - val_accuracy: 0.8580 - val_loss: 0.3482
Epoch 13/100
269/269 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8664 - loss: 0.3299 - val_accuracy: 0.8622 - val_loss: 0.3524
Epoch 14/100
269/269 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8645 - loss: 0.3298 - val_accuracy: 0.8594 - val_loss: 0.3476
Epoch 15/100
269/269 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8630 - loss: 0.3286 - val_accuracy: 0.8572 - val_loss: 0.3501

In [28]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [29]:
## Let's load tensorboard extension
%load_ext tensorboard

In [30]:
%tensorboard --logdir logs/fit20260131-165800/

Reusing TensorBoard on port 6007 (pid 18260), started 1 day, 21:39:20 ago. (Use '!kill 18260' to kill it.)

In [ ]:
### Loading the pickle file