In [1]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [3]:
## Let's load trained model, scaler pickle file and onehot encoding
model=load_model('model.h5')

#Loader encoder and scaler
with open('label_encoder_gender.pkl','rb') as f:
    label_encoder_gender=pickle.load(f)

with open('ohe.pkl','rb') as f:
    ohegeo=pickle.load(f)

with open('scaler.pkl','rb') as f:
    scaler=pickle.load(f)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [4]:
input_data={
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000
}

In [6]:
geoencoded=ohegeo.transform([[input_data['Geography']]]).toarray()
geoencodeddf=pd.DataFrame(geoencoded,columns=ohegeo.get_feature_names_out(['Geography']))

c:\Users\Jay\anaconda3\envs\ch13\lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [12]:
geoencodeddf

input_datadf=pd.DataFrame([input_data])

In [16]:
input_data=pd.concat([input_datadf.reset_index(drop=True),geoencodeddf],axis=1)

In [20]:
input_data

   CreditScore Gender  ...  Geography_Germany  Geography_Spain
0          600   Male  ...                0.0              0.0

[1 rows x 12 columns]

In [19]:
input_data.drop(['Geography'],inplace=True,axis='columns')

In [21]:
input_data['Gender']=label_encoder_gender.transform(input_data['Gender'])
input_data

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [22]:
input_data

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [23]:
##Now lets scale the input data
input_scaled=scaler.transform(input_data)

In [24]:
input_scaled

array([[-0.55777837,  0.89098487,  0.101093  , -0.70558518, -0.28145524,
         0.77257111,  0.62109313,  0.96561576, -0.86911171,  0.98512138,
        -0.56938265, -0.57377871]])

In [ ]:
## Let's predict churn
prediction=model.predict(input_data)

1/1 ━━━━━━━━━━━━━━━━━━━━ 1s 1s/step

In [26]:
prediction

array([[0.]], dtype=float32)

In [27]:
if prediction>0.5:
    print('The customer is likely to churn')
else:
    print('Customer is not going to churn')

Customer is not going to churn